.auth__cont {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 91vh;
	background-color: rgb(246, 246, 246);
}

.auth-box {
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 310px;
	height: 340px;
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
	background-color: #38195e;
}

.auth-box__up-btn {
	display: flex;
	column-gap: 15px;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 0px 0px 0px 11px;
}

.auth-link {
	text-decoration: none;
	color: rgb(202, 202, 202);
}

.active {
	color: rgb(202, 202, 202);
	position: relative;
}

.active::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	border-bottom: 2px solid #d5c510;
}

.form {
	display: flex;
	flex-direction: column;
	margin-top: 45px;
	gap: 25px;
}

.form__input {
	display: flex;
	flex-direction: column;
}

.form__input label {
	margin: 0px 0px 10px 11px;
	color: rgb(208, 199, 212);
	font-size: 10px;
	letter-spacing: 1px;
}

.form__input input {
	height: 25px;
	border-radius: 40px;
	padding: 0 11px;
	border: none;
	outline: none;
	background-color: rgb(148, 108, 186);
}

.form__check {
	display: flex;
	column-gap: 10px;
	align-items: center;
	margin: 0px 0px 0px 11px;
}

.form__check input {
	height: 18px;
	width: 18px;
	border: none;
	outline: none;
	accent-color: #d5c510;
}

.form__check label {
	color: aliceblue;
	font-size: 12px;
}

.form__btn {
	height: 25px;
	font-size: 10px;
	letter-spacing: 1px;
	border: none;
	outline: none;
	cursor: pointer;
	color: rgb(250, 240, 255);
	background-color: #d3c200;
	border-radius: 40px;
}

.form__btn:hover {
	transition: 1s;
	background-color: #aca33f;
}

.form__footer {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	position: relative;
}

.form__footer::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	bottom: 35px;
	background-color: rgb(173, 153, 182);
}

.form__link-pass {
	font-size: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	color: rgb(208, 199, 212);
}

.error {
	color: red;
	font-size: 10px;
}
